<a href="../../index.html" aria-label="home-page-link" class="logo">
    <img src="assets/icons/logo.png" width="50" class="logo-image" alt="website_logo_image">
    <h1 class="logo-title"><span>My-</span>Images</h1>
</a>
<nav aria-label="nav_links_container" class="navbar">
    <ul>
        <li><a href="index.html" class="nav__links">Home</a></li>
        <li><a href="index.html#images" class="nav_links">Images</a></li>
        <!-- <li><a href="#about" class="nav_links">About</a></li> -->
        <li><a href="#footer" class="nav_links">Contact</a></li>
    </ul>
</nav>